<h1>Welcome to my Exam</h1>
<p>
  These are the core features of Angular using bootstrap with a responsive
  design
</p>
<pre>

Comments:
I decided to used template driven forms instead of reactive forms for much faster development.
I used SCSS preprocess much better than LESS.
In addition to the task, I included rest-api integration using json placeholder with lorem ipsum data

THANK YOU

Take Note: This is just one of my simple folder structure and routing setup without lazy load.
</pre>
<button class="btn btn-secondary me-3" [routerLink]="['/user']">
  Page not found section
</button>
<button class="btn btn-dark me-3" [routerLink]="['/posts']">Posts Section</button>
